.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
}

.top {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    height: 22px;
    background-color: #0A56C2;
    color: white;
    list-style: none;
}

.top li {
    display: flex;
    cursor: pointer;
    padding-top: 4px;
    margin-right: 35px;
    gap: 12px;
}

.navbar-list {
    display: flex;
    font-size: 20px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-evenly;
    cursor: pointer;
}

.navbar-list li:hover {
    color: #db4141;
}

.vctm {
    color: blue;
    font-weight: 800;
}
.footer {
    height: 400px;
    width: 100%;
    margin-top: 50px;
    padding-top: 20px;
    color: white;
    border: 2px solid black;
    background-color: #294c81;
    display: flex;
    justify-content: space-evenly;
}

p1 {
    font-size: 22px;
}

p {
    margin-top: 10px;
}

.underline {
    height: 0px;
    width: 100%;
    border: 2px solid white;
    position: absolute;
    margin-top: 320px;
}